/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00a75d;
  --ifm-color-primary-dark: #009654;
  --ifm-color-primary-darker: #008e4f;
  --ifm-color-primary-darkest: #007541;
  --ifm-color-primary-light: #00b866;
  --ifm-color-primary-lighter: #00c06b;
  --ifm-color-primary-lightest: #00d979;
  --ifm-code-font-size: 82%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

details.alert{

  --ifm-alert-background-color: #fff;
  --ifm-alert-background-color-highlight: #eee;
  --ifm-alert-border-color: #eee;
  box-shadow:none;
}

body{
  font-size:16px !important;
}

code {
  --ifm-code-background:#eee;
  border: none;
  padding: 2px 6px;
}

.hash-link::before {
  content: '' !important;
}

.theme-doc-sidebar-item-category{
  font-weight:normal;
}

.pagination-nav{
  display:none;
}

a:any-link:hover{
  text-decoration:none;
}

.theme-doc-sidebar-item-category-level-1{
  font-weight:500;
}
.theme-doc-sidebar-item-link-level-2{
  font-weight:normal;
}

.menu::-webkit-scrollbar {
  /* display: none; for Chrome, Safari, and Opera */
  width:4px;  
}

.navbar__title{
  color: #666666;
  font-weight:normal;
}

.footer{
  border-top:1px solid #E1E1E1;
  background-color:#fff;
}

.menu__link--sublist-caret:after{
  background:var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.col {
  padding: 0 calc(var(--ifm-spacing-horizontal) * 3);
}

.full-width-table-container table {
  display: table;
  width: 100%;
  text-align: center;
}
